/*Style Sheet for hw-05*/

body {
	font-family: Arial;
}

h1{
	text-align: center;
}

circle:hover{
  fill: orange;
}

.borderitem{
  stroke: limegreen;
  stroke-width: 3;
}

/* make columns */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;


}
.right {
  display: flex;
  flex-direction: column;
  width: 40%;

}

